@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "IRANsans";
    src: url(../public/font/IRANsans.ttf);
    font-display: swap;
  }
}
@layer components {
    .item1{
        background: url("./image/image1.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item2{
        background: url("./image/image2.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item3{
        background: url("./image/image3.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @media screen and (max-width: 480px) {
        .item1{
          background: url("./image/image04.jpg");
          background-position:  center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .item2{
          background: url("./image/image02.jpg");
          background-position:  center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .item3{
          background: url("./image/image03.jpg");
          background-position:  center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .item4{
          background: url("./image/image01.jpg");
          background-position:  center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }      
      .item4{
        background: url("./image/image4.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .mySlides {
        display: none;
      }
      .active, .dot:hover {
        background-color: #717171 !important;
      }    
}