@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "IRANsans";
    src: url(../public/font/IRANsans.ttf);
    font-display: swap;
  }
}
@layer components {
    .item1{
        background: url("./image/coffee.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item2{
        background: url("./image/coffee2.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item3{
        background: url("./image/coffee3.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item4{
        background: url("./image/coffee4.jpg");
        background-position:  center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .mySlides {
        display: none;
      }
      .active, .dot:hover {
        background-color: #717171 !important;
      }    
}